@import '../../../styles/variable';
@import '../../../styles/mixin';
.HomeAboutContainer{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    @include flexCenter(row);
    transition: ease-in-out 0.5s;
    &.active{
        visibility: visible;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    .AboutMain{
        padding: 100px 0;
        width: 1140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        .Left{

            @include flexCenter(column);
            gap: 20px;
            .Title{
                font-size: 35px;
                text-align: left;
                width: 100%;
                color: $color_text_red;
                font-weight: 100;
                font-family: $font_family;
            }
            .Description{
                color: #565656;
                font-size: 14px;
                line-height: 1.4;
                text-align: left;
            }
            .AboutButton{
                
                @include button();
            }
        }
        .Right{


            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}