@import '../../../styles/variable';
@import '../../../styles/mixin';
.FPackContainer{
    
    width: 100%;
    @include flexCenter();
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.5s;
    &.active{
        visibility: visible;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    .AboutMain{
        padding: 100px 0;
        width: 1140px;
        @include flexCenter();
        gap: 50px;
        .Left{
            width: 100%;
  
            @include flexCenter(column);
            gap: 20px;
            .Title{
                font-size: 35px;
                text-align: center;
                width: 100%;
                color: $color_text_red;
                font-weight: 100;
                 font-family: $font_family;
            }
            .Description{
                font-size: 14px;
                line-height: 1.4;
                text-align: center;
            }
            .AboutButton{
                padding: 8px 20px;
                font-size: 16px;
                background-color: $color_bg_red;
                color: #fff;
                font-weight: bold;
                border: none;
                outline: none;
                width: max-content;
            }
        }
        .Right{
   
            width: 400px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}