@import '../../../styles/variable';
@import '../../../styles/mixin';
.BookCateContainer{
    background-color: #f1f1f1;
    padding: 100px 0;
    @include flexCenter(column);
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.5s;
    &.active{
        visibility: visible;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    .BookCateMain{
        @include flexCenter(column);
        width: 1140px;
        .Title{
            font-size: 35px;
            width: 100%;
            color: #e02027;
            font-weight: 100;
            font-family: $font_family;
        }
    }
    .PopForm{
        margin-top: 70px;

        width: 100%;
        @include flexCenter(column);
        .BookCateForm{
            width: 1140px;
            
            padding: 40px;
            @include flexEnd();
            position: relative;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
            .BookCateInput{
                position: absolute;

                left: 40px;
                top: 40px;
                bottom: 40px;
                width: 500px;
                gap: 60px;
                @include flexCenter(column);
                .Title{
                    font-size: 30px;
                    text-align: center;
                    width: 100%;
                    color: #e02027;
                    font-weight: 100;
                    font-family: $font_family;
                }
                .InputField{
                    @include flexCenter(column);
                    gap: 30px;
                    width: 100%;
                    padding-left: 40px;
                    .Text{
                        width: 90%;
                        height: 45px;
                        padding: 0 20px;
                        font-size: 16px;
                        outline: none;


                    }
                    .BookCateButton{
                        @include button();
                        padding: 8px 20px;
                        width: 90%;
                        height: 45px;
                        
                        
                        
                    }
                }
            }
            .BookCateImage{
                width: 700px;
                height: 700px;
                object-fit: cover;
            }
        }
    }
}

.BGWhite{
    background-color: #fff;
}