@import '../../../styles/variable';
@import '../../../styles/mixin';

.BannerContainer{
    width: 100%;
    
    @include flexCenter(row);
    overflow: hidden;
    position: relative;
    max-height: 586px;
    img{
        width: 100%;
        filter: brightness(0.5) grayscale(0.5);
        min-height: 300px;
    }

    .BannerMain{
        width: 1110px;
        position: absolute;
        height: 100%;
        color: #fff;
        @include flexCenter(column);
        .Welcome{
            font-size: 35px;
            font-family: $font_family;
        }
        .Slogan{
            width: min-content;
      
            font-size: 45px;
            font-weight: 500;
            display: flex;
            justify-content: space-evenly;
            gap: 10px;
            .SloganUpdateText{
           
                transition: ease-in-out 0.3s;
                overflow: hidden;
                width: 0px;
                color: $color_text_red;
    
                &.active{
                    
                    width: 250px;

                }
            }

        }
        .Description p{
            padding: 3px 0;
            font-size: 14px;
        }
        .BannerButton{
            margin-top: 20px;
            @include button();

        }
    }
}

@media screen and (max-width: 768px){
    .BannerContainer{
        max-height: 500px;
        .BannerMain{
            width: 100%;
            .Slogan{
                font-size: 30px;
                .SloganUpdateText{
                    &.active{
                    
                        width: 150px;

                    }
                }
            }
            .Description{
                width: 80%;
            }
        }
    }
    
}