@import '../../../styles/variable';
@import '../../../styles/mixin';
.OpenTableButton{
    margin-top: 5px;
    @include button();
    
}

.BGWhite{
    background-color: #fff;
}
.OpenTable{
    padding: 50px 0;
}