@import '../../../styles/variable';
@import '../../../styles/mixin';

.PopDishContainer{
    background-color: #f1f1f1;
    padding: 100px 0;
    @include flexCenter();
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.5s;
    &.active{
        visibility: visible;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
    .PopMain{
        @include flexCenter(column);
        width: 1140px;
        .Title{
            font-family: $font_family;
            font-size: 35px;
            width: 100%;
            color: $color_text_red;
            font-weight: 100;
        }

        .PopDishPics{
            margin-top: 50px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            .PopDishItem{
                background-color: #fff;
                padding: 40px 20px 50px 20px;

                .popImage{
                    width: 90%;
                    transition: ease-in-out 0.2s;
                }
                .PopDishItemTitle{
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 40px;
                    color: #565656;
                }
                .PopDishItemCost{
                    color: $color_red;
                    font-size: 25px;
                    font-weight: bold;
                    margin-top: 10px;
                }

                &:hover .popImage{
                    transform: scale(1.2);
                }
            }
            
        }
    }
}
.IconDesign{
    @include flexCenter();
}
.Line{
    width: 50px;
    height: 2px;
    background-color: $color_bg_red
}
.Icon{
    font-size: 30px;
    color: $color_text_red;
}   