@import "../../styles/variable";

.MainBannerContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 281px;
    overflow: hidden;
    .BannerPic{
        width: 100%;
    }
    .BannerDetail{
        position: absolute;
        .Title{
            font-family: $font_family;
            font-size: 40px;
        }
        .Link{
            margin-left: 50px;
            display: flex;
            gap: 15px;
            font-style: italic;
            .HomeLink{
                text-decoration: none;
                margin-left: 20px;
                font-weight: 100;
                color: #000;
                font-style: normal;
            }
            .PageName{
                color: $color_text_red;
                font-style: normal;
            }
        }
    }
}